
<app-canvas-image
  image="/assets/ugly-dog.png"
  (ready)="canvasIsReady($event)"
  appDraw
  [canvas]="canvas"
  [color]="color"
  [lineWidth]="drawingSettings?.lineWidth"
  [globalAlpha]="drawingSettings?.opacity"
  [brushType]="drawingSettings?.brushType"
  [drawingEnabled]="drawingSettings?.enabled">
</app-canvas-image>

<!-- TODO: create a color picker toolbar -->
<evb-flyout #flyout  header="Drawing" open="true">

  <ng-container *ngIf="canvas && colorWheel">
    <app-color-picker [canvas]="canvas" [secondaryCanvas]="colorWheel" (picked)="setColor($event)"></app-color-picker>
  </ng-container>
  <div>
    <app-canvas-image image="/assets/color-wheel.png" max="100" (ready)="colorWheelReady($event)"></app-canvas-image>
  </div>

  <app-drawing-toolbar (changed)="setDrawingSettings($event)"></app-drawing-toolbar>

</evb-flyout>

<div class="flyout-handle" (click)="showFlyout()"></div>
