
:host {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

app-toolbar {
  position: absolute;
  text-shadow: #fff 0px 0px 0.8rem;
  top: 1rem;
  width: 10rem;
}

.colorpicker-toolbar {
  left: 1rem;
}

.drawing-toolbar {
  left: 11.5rem;
}
.stencil-toolbar {
  left: 22rem;
}
