
:host {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

app-toolbar {
  position: absolute;
  text-shadow: #fff 0px 0px 0.8rem;
  top: 1rem;
  width: 10rem;
}

.colorpicker-toolbar {
  left: 1rem;
}

.drawing-toolbar {
  left: 11.5rem;
}
.stencil-toolbar {
  left: 22rem;
}

.current-color {
  align-items: center;
  color: var(--evb-text-color);
  display: flex;
  justify-content: center;
  position: relative;
}
.current-color.is-dark {
  color: var(--evb-text-color-invert);
}
.current-color em {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
}
.current-color app-canvas-image {
  opacity: .2;
  transition: opacity .2s linear;
  position: relative;
  z-index: 2;
}
.current-color:hover app-canvas-image {
  opacity: 1;
}

evb-flyout {
  min-width: 14rem;
  padding: 0 .5rem;
}

.flyout-handle {
  cursor: pointer;
  height: 4em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 0 1em 1em 0;
  transition: all .15s ease-in;
  background: linear-gradient(to right, var(--evb-primary-color-darker) 0%, var(--evb-primary-color-darker) 100%);
}

.flyout-handle:hover {
  width: 2em;
}

evb-filepicker {
  align-items: center;
  flex-direction: column;
}
.pick-image-title {
  color: #999;
  font-size: 3rem;
}
