
<app-canvas-image
  image="/assets/ugly-dog.png"
  (ready)="canvasIsReady($event)"
  appDraw
  [canvas]="canvas"
  [color]="color | rgbToString"
  [lineWidth]="drawingSettings?.lineWidth"
  [globalAlpha]="drawingSettings?.opacity"
  [brushType]="drawingSettings?.brushType"
  [drawingEnabled]="drawingSettings?.enabled">
</app-canvas-image>

<!-- TODO: create a color picker toolbar -->
<evb-flyout #flyout  header="Drawing" open="true">

  <ng-container *ngIf="canvas && colorWheel">
    <app-color-picker
      [canvas]="canvas"
      [secondaryCanvas]="colorWheel"
      (active)="setColorPickerActive($event)"
      (picked)="setColor($event)"></app-color-picker>
  </ng-container>

  <div class="current-color" [class.is-dark]="color | appIsDark" [style.background]="color | rgbToString">
    <em>{{color | rgbToString}}</em>
    <app-canvas-image
      [style.visibility]="colorPickerActive ? 'visible' : 'hidden'"
      image="/assets/color-wheel.png"
      max="150"
      (ready)="colorWheelReady($event)"></app-canvas-image>
  </div>

  <app-drawing-toolbar (changed)="setDrawingSettings($event)"></app-drawing-toolbar>

</evb-flyout>

<div class="flyout-handle" (click)="showFlyout()"></div>
