
<app-canvas-image
  *ngIf="image; else uploadYourImage"
  [image]="image"
  (ready)="canvasIsReady($event)"
  appDraw
  [canvas]="canvas"
  [color]="color | rgbToString"
  [lineWidth]="drawingSettings?.lineWidth"
  [globalAlpha]="drawingSettings?.opacity"
  [brushType]="drawingSettings?.brushType"
  [drawingEnabled]="drawingSettings?.enabled">
</app-canvas-image>

<ng-template #uploadYourImage>
  <evb-filepicker accept="image/*" [multiple]="false" (pick)="setImage($event)">
    <h3 class="pick-image-title">Pick an image to get started</h3>
    <evb-button>Pick a image</evb-button>
  </evb-filepicker>
</ng-template>


<!-- TODO: create a color picker toolbar -->
<evb-flyout #flyout  header="Drawing" open="true">

  <ng-container *ngIf="canvas && colorWheel">
    <app-color-picker
      [canvas]="canvas"
      [secondaryCanvas]="colorWheel"
      (active)="setColorPickerActive($event)"
      (picked)="setColor($event)"></app-color-picker>
  </ng-container>

  <div class="current-color" [class.is-dark]="color | appIsDark" [style.background]="color | rgbToString">
    <em>{{color | rgbToString}}</em>
    <app-canvas-image
      [style.visibility]="colorPickerActive ? 'visible' : 'hidden'"
      image="/assets/color-wheel.png"
      max="150"
      (ready)="colorWheelReady($event)"></app-canvas-image>
  </div>

  <app-drawing-toolbar (changed)="setDrawingSettings($event)"></app-drawing-toolbar>

</evb-flyout>

<div class="flyout-handle" (click)="showFlyout()"></div>
