:root{
  --evb-primary-color:#677bd5;
  --evb-primary-color-darker:#3a4da5;
  --evb-border-light:#dbdbdb;
  --evb-background-light:#dbdbdb;
  --evb-text-color:#000;
  --evb-text-color-invert:#fff
}

html, body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, button, select, input, textarea {
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
img {
  max-height: 100%;
}
svg {
  height: 100%;
  width: 100%;
}
